
section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    background-color: #2c3e50;
    color: #ecf0f1;
    justify-content: center;
}

.hero-section h1 {
    font-size: 200px;
    letter-spacing: 10px;
}

.about-section {
    display: flex;
    justify-content: center;background-color: #ecf0f1;
    color: #2c3e50;
}

.work-section {
    background-color: #f39c12;
    color: white;
}

.contact-section {
    min-height: 33vh;
    background-color: #bdc3c7;
    color: #2c3e50;
}

.about-section img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #ffffff;
    margin-top: 50px;
}

.content-box h2{
    font-size: 45px;
    margin-top: 10px;
}

.content-box p {
    font-size: 25px;
    margin-top: 10px;
    line-height: 1.6;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.work-item img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.work-item img:hover {
    transform: scale(1.05);
}

.work-section h2{
    font-size: 45px;
    margin-top: 10px;
}

.work-item p{
    font-size: 25px;
    margin-top: 10px;
}

.contact-section h2{
    font-size: 20px;
    margin-top: 10px;
}

.contact-list p{
    font-size: 15px;
    margin-top: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 15px 0;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
    color: rgba(241, 236, 236, 0.96);
    font-size: 20px;
    margin: 0 15px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #e67e22;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 24px;
}